name: Build APK

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Permitindo execução do Gradle
        run: chmod +x gradlew

      - name: Build debug
        run: ./gradlew assembleDebug  --no-daemon --stacktrace

      - name: Upload do APK gerado
        uses: actions/upload-artifact@v4
        with:
          name: SenAI-APK
          path: app/build/outputs/apk/debug/*.apk 
